
.treeLoading{
    background: transparent url(loading_big.gif) no-repeat center;
}

.treeview{
    width: 400px;
    height: 500px;
    overflow: scroll;
    border: 1px solid black;
}

.treeview .treeText{
    margin-left: 4px;
    padding: 1px 1px 1px 1px;
    cursor: pointer;
}

.treeview .treeSelected  .treeText{
    background-color: #86C1ED;
}
.treeview .treeFocussed .treeSelected .treeText{
    background-color: #6FA2C4;
}

/*
    Tree lines & buttons
*/
.treeview .treeItem, .treeview .treeCon{
    background-image: url('TreeView/TreeImages.gif');
    background-repeat: repeat-y;
    
    width: 20px;
}

.treeview .treeItem{
    height: 18px;
}

.treeview .treeExpanded .treeEntrySub{
    background-position: -0px 0px;
    cursor: pointer;
}

.treeview .treeCollapsed  .treeEntrySub{
    background-position: -20px 0px;
    cursor: pointer;
}

.treeview .treeExpanded .treeEndSub{
    background-position: -40px 0px;
    cursor: pointer;
}

.treeview .treeCollapsed  .treeEndSub{
    background-position: -60px 0px;
    cursor: pointer;
}

.treeview  .treeExpanded .treeStartSub{
    background-position: -80px 0px;
    cursor: pointer;
}

.treeview  .treeCollapsed .treeStartSub{
    background-position: -100px 0px;
    cursor: pointer;
}

.treeview .treeStart{
    background-position: -120px 0px;
}

.treeview .treeEntry{
    background-position: -140px 0px;
}

.treeview .treeEnd{
    background-position: -160px 0px;
}

.treeview .treeCon{
    background-position: -180px 0px;
}

.treeview  .treeExpanded .treeStartEndSub{
    background-position: -200px 0px;
    cursor: pointer;
}

.treeview  .treeCollapsed .treeStartEndSub{
    background-position: -220px 0px;
    cursor: pointer;
}

.treeview .treeStartEnd{
    background-image: none;
}

.treeview .treeStartEnd{
    background-image: none;
}

/*
    Icons
*/
.treeview .treeIcon, .treeview .treeFolder{
    background-image: url('TreeView/TreeIcons.gif');
    background-repeat: no-repeat;
    padding-left: 16px;
    
}

.treeview .treeIconLoading{
    background-image: url('loading_small.gif');
    background-repeat: no-repeat;
    padding-left: 16px;
}

.treeview  .treeCollapsed .treeFolder{
    background-position: 0px 1px;
}

.treeview .treeExpanded  .treeFolder{
    background-position: 0px -31px;
}

.treeview .treeCollapsed  .treeIcon{
    background-position: 0px -63px;
}

.treeview .treeExpanded  .treeIcon{
    background-position: 0px -63px;
}


